<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.CartMapper">
	<resultMap id="cart" type="cn.tedu.store.entity.Cart">
		<id column="uid" property="uid" />
		<result column="created_user" property="createdUser" />
		<result column="created_time" property="createdTime" />
		<result column="modified_user" property="modifiedUser" />
		<result column="modified_time" property="modifiedTime" />
	</resultMap>

	<!--insert(CartMapper vart); -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="cid">



		INSERT INTO t_cart (
		<!--数据库字段 -->
		uid, pid,
		price, num,
		created_user, created_time,
		modified_user,
		modified_time
		) VALUES (
		<!--对应实体类的属性 -->
		#{uid}, #{pid},
		#{price}, #{num},
		#{createdUser}, #{createdTime},
		#{modifiedUser}, #{modifiedTime}



		)

	</insert>

	<!--findByUidAndPid -->
	<select id="findByUidAndPid" resultMap="cart">

		SELECT * FROM
		t_cart
		WHERE
		pid=#{pid} AND uid=#{uid}

	</select>

	<!-- updateNumbyCid -->
	<update id="updateNumbyCid">

		UPDATE t_cart
		SET
		num=#{num}
		WHERE
		cid=#{cid}




	</update>


	<!--findVOByUid(Integer uid); -->
	<select id="findVOByUid" resultType="cn.tedu.store.vo.cart.CartVO">
		SELECT
		cid, pid,
		uid, title,
		image, t_cart.price,
		t_product.price AS realPrice,
		t_cart.num
		FROM
		t_cart
		LEFT JOIN
		t_product
		ON
		t_cart.pid=t_product.id
		WHERE
		uid=#{uid}
		ORDER BY
		t_cart.created_time DESC



	</select>


	<!--Cart finByCid(Integer cid); -->
	<select id="finByCid" resultMap="cart">


		SELECT * FROM
		t_cart
		WHERE
		cid=#{cid}

	</select>

<!--findVOByCids(Integer[] cids);  -->

<select id="findVOByCids" resultType="cn.tedu.store.entity.Cart">
		SELECT
			cid, pid,
			uid, title,
			image, t_cart.price,
			t_product.price AS realPrice,
			t_cart.num 
		FROM
			t_cart
		LEFT JOIN
			t_product
		ON
			t_cart.pid=t_product.id
		WHERE
			cid IN (
			<foreach collection="array"
				item="cid" separator=",">
				#{cid}
			</foreach>
			)
		ORDER BY
			t_cart.created_time DESC
		
		
		
		
		
		
	</select>









</mapper>
